@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic);

body {
    font-family: Ubuntu;
}

.notes_container {
    margin-top: 30px;
}

form.login button {
    vertical-align: top;
}