<ul class="notes list-group">
    <li ng-mouseover="isMouseover = true" ng-mouseleave="isMouseover = false" ng-repeat="note in updateNotes()"
        class="list-group-item clearfix" style="line-height: 2.2em;">
        {{ note.text }}
        <div class="btn_container" style="float: right; opacity: 0.8;" ng-show="isMouseover">
            <button ng-click="startEditing()" class="btn btn-primary" style="padding: 2px 5px;"> edit </button>
            <button ng-click="removeMe()" class="btn btn-danger" style="padding: 2px 5px; margin-left: 5px"> delete </button>
        </div>
    </li>
    <li class="list-group-item">
        <input ng-model="text" modify-input-focus="state.editingNote" type="text" class="form-control">
    </li>
    <button ng-click="clearNotes()" type="button" class="btn btn-warning" style="margin-top: 10px; line-height: 1em;">Delete all</button>
</ul>